<style>.main-content { padding: 0!important; }</style>
<div class="wrapper">
<!-- /templates/article.liquid -->
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

{% section 'article-template' %}
</div>