<style>.main-content { padding: 0!important; }</style>
<div class="site_width">
<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
</div>